aside.aside-menu
  if !starter
    ul.nav.nav-tabs(role="tablist")
      li.nav-item
        a.nav-link(data-toggle="tab" href="#settings" role="tab")
          i.icon-settings
      li.nav-item
        a.nav-link(href="/logout")
          i.icon-logout
    // Tab panes
    .tab-content
      #settings.tab-pane.p-3(role="tabpanel")
        a(href="/templates") Níveis e cursos
