extends /default.pug

block scripts

  - if (path)
    script(src='public/js/src/projTecn.js')

block view
  .upperContaine
    .row
      .col-md-12
        .card
          .card-body.upperCard(style='background:#276552;border-radius:0%;color:#fff;border:solid #276552')
            .row
              .col-sm-12
                .row
                  .col-sm-3
                    .callout.callout-info
                      small.text-muted Classe
                      br
                      strong.h4 10ª
                      .chart-wrapper
                        canvas#sparkline-chart-1(width='100', height='30')
                  // /.col
                  .col-sm-3
                    .callout.callout-danger
                      small.text-muted Curso
                      br
                      strong.h4 Informática
                      .chart-wrapper
                        canvas#sparkline-chart-2(width='100', height='30')
                  // /.col
                  // /.col
                  .col-sm-3
                    .callout.callout-danger
                      small.text-muted Total de estudantes
                      br
                      strong.h4 0
                      .chart-wrapper
                        canvas#sparkline-chart-2(width='100', height='30')
                  // /.col
                  // /.col
                  .col-sm-3
                    .callout.callout-danger
                      small.text-muted Média de idades
                      br
                      strong.h4 0.00
                      .chart-wrapper
                        canvas#sparkline-chart-2(width='100', height='30')
                  // /.col
    .row
      .col-6.col-lg-4
        .card.option-card
          .card-body.p-3.d-flex.align-items-center
            i.icon-user-follow.bg-primary.p-3.font-2xl.mr-3
            div
              .text-value-sm.text-primary
                a.option-card-link(href='')
                  | Adicionar um Estudante novo
      // /.col
      .col-6.col-lg-4
        .card.option-card
          .card-body.p-3.d-flex.align-items-center
            i.icon-user-follow.bg-primary.p-3.font-2xl.mr-3
            div
              .text-value-sm.text-primary
                a.option-card-link(href='')
                  | Adicionar uma planilha do Excel
      // /.col
      .col-6.col-lg-4.option-card
        .card
          .card-body.p-3.d-flex.align-items-center
            i.icon-arrow-left-circle.bg-info.p-3.font-2xl.mr-3
            div
              .text-value-sm.text-info
                a.option-card-link(href='')
                  | Adicionar um Estudante transferido
      // /.col
    .row.warning-row
      .col-md-12.col-lg-12
        .alert.alert-warning
          h4
            i.fa.fa-warning
            span "Aviso!"
          h6
            | Esta turma não tem estudantes registados. Clique em adicionar estudante novo para gravar um estudante ou no ícone do excel para adicionar vários estudantes atravéz de uma folha de cálculo do Excel ou ainda em adicionar estudante transferido para inserir um estudante de uma outra escola.
  //
    header of the turma page
  .tableContainer
    // /.row
    .row
      .col-md-12
        .card
          table.table.table-responsive-sm.table-hover.table-outline.mb-0
            thead.thead-light
              tr
                th.text-center
                  i.icon-people
                th Nome
                th.text-center Nº de Ordem
                th Percentagem de Desempenho
                th.text-center Total de Faltas
                th Relatório académico
            tbody
