extends /default.pug

block scripts

  - if (path == "faltas")
    script(src='public/js/src/faltas.js')
  - if (path == "faltas" || path == "Proj.Tecn" || path == "A.E.F." || path == "Cont.Financeira" || path == "Empreend" || path == "Socio" || path == "Cont.Analitica" ||path == "Mat")
    script(src='public/js/src/projTecn.js')

block view

    .row
      .col-md-12.mb-12
        ul.nav.nav-tabs(role='tablist')

    .row
      .col-md-12
        .card
          .card-header
            | Livro de Ponto
          .card-body.bookInfo
            .houser


            br
            table(class="table table-responsive-sm table-hover table-outline mb-0", data-rows=rows)
              thead.thead-light
                tr
                  th.text-center
                    i.icon-people
                  th Nome
                  th.text-center Nacionalidade
                  th Desempenho Global
                  th.text-center Ranking de Faltas
                  th
              tbody
      // /.col
    // /.row
