extends /default.pug

block scripts

  - if (path)
    script(src='public/js/src/projTecn.js')

block view
  .row.subject-list-container
    .container
      div.center-on-page.row

  .tableContainer
    // /.row
    .row
      .col-md-12
        .card
          table.table.table-responsive-sm.table-hover.table-outline.mb-0
            thead.thead-light
              tr
                th.text-center
                  i.icon-people
                th Nome
                th.text-center Nº de Ordem
                th.text-center Comportamento
                th.text-center MAC
                th.text-center PP1
                th.text-center PP2
            tbody
        button.btn.btn-block.btn-success.marcar(type='button') Marcar
