extends /default.pug

block scripts

  - if (path)
    script(src='public/js/src/projTecn.js')

block view
  .tableContainer(ng-app='livroDePontoApp', ng-controller='livroDePontoCtrl')
    .blog-area.mt-50.section-padding-100
      .row
        .col-12.col-md-4
          .academy-blog-sidebar
            // Blog Post Widget
            .blog-post-search-widget.mb-30
              form(action='#', method='post')
                input#Search(type='text', ng-model='filterData', name='search', placeholder='digte o nome de uma disciplina')
                button(type='submit')
                  i.fa.fa-search(aria-hidden='true')
            // Blog Post Catagories
            .blog-post-categories.mb-30
              h5 Informações Gerais
              ul
                li
                  a(href='#') Turma
                li
                  a(href='#') Nº Estudantes
                li
                  a(href='#') Teachers
                li
                  a(href='#') Total de Faltas
        .col-12.col-md-8
          .academy-blog-sidebar
            // Blog Post Widget
            .row
              .col-12.col-md-6
                // Blog Post Catagories
                .blog-post-categories.mb-30(style='height:328px')
                  h5 Informações do/a Professor/a
                  ul
                    li
                      a(href='#') Nome
                      span {{dataTeachers[filterData].nome}}
                    br
                    li
                      a(href='#') Correio electrónico
                      span {{dataTeachers[filterData].email}}
                    br
                    li
                      a(href='#') Disciplina que leciona
                      span {{dataTeachers[filterData]['disciplina_nome']}}
              .col-12.col-md-6.col-lg-6
                .team-member(style='height:328px')
                  img(alt='foto do professor', src='public/photo-storage/{{dataTeachers[filterData].foto}}')
                // .team-member
                // .col

    .row
      .col-md-12
        .card
          table.table.table-responsive-sm.table-hover.table-outline.mb-0
            thead.thead-light
              tr
                th.text-center
                  i.icon-people
                th Nome
                th Nº de Ordem
                th Falta de material
                th Falta por Ausência
                th Falta Disciplinar
            tbody
              tr(ng-repeat='student in ::students')
                td.text-center
                  .avatar
                    img.img-avatar(alt='somthingElse', src='public/photo-storage/{{student.foto}}')
                    span.avatar-status.badge-success
                td {{student.nome}}
                td {{$index + 1}}
                td
                  input.option-input.checkbox(type='checkbox')
                td
                  input.option-input.checkbox(type='checkbox')
                td
                  input.option-input.checkbox(type='checkbox')
