extends /pages.pug

block view
  .container
    .row.justify-content-center
      .col-md-6
        .card.mx-4
          .card-body.p-4
            h1 Registe a sua Escola
            p.text-muted Crie uma conta
            form(action='/registoEscola', method='POST')
              .input-group.mb-3
                .input-group-prepend
                  span.input-group-text
                    i.icon-people
                input.form-control(type='text', placeholder='Nome da Escola', name="firstName")
              .input-group.mb-3
                .input-group-prepend
                  span.input-group-text
                    i.icon-map
                input.form-control(type='text', placeholder='Província', name="provincia")
              .input-group.mb-3
                .input-group-prepend
                  span.input-group-text @
                input.form-control(type='text', placeholder='Email', name="email", required)
              .input-group.mb-4
                .input-group-prepend
                  span.input-group-text
                    i.icon-user
                input.form-control(type='text', placeholder='Nome de usuario (eg: ColegioDoisTalentos)', name="username", required)
              .input-group.mb-4
                .input-group-prepend
                  span.input-group-text
                    i.icon-lock
                input.form-control(type='password', placeholder='Introduza a Senha', name="password", required)

              button.btn.btn-block.btn-success(type='submit') Criar Escola
