// CoreUI and necessary plugins


script(src='public/jquery/dist/jquery.min.js')
script(src='public/popper.js/dist/umd/popper.min.js')
script(src='public/bootstrap/dist/js/bootstrap.min.js')
script(src='public/pace-progress/pace.min.js')
script(src='public/perfect-scrollbar/dist/perfect-scrollbar.min.js')
script(src='public/@coreui/coreui/dist/js/coreui.min.js')
script(src='public/js/src/socketJS.js')
script(src='public/js/generalHelper.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
script(src='public/js/angularJS.js')

//script(src='public/js/src/studentModalJs.js')
script(src='public/js/anime.js')

- if (searchCursos == 'searchCursos')
  script(src='public/js/src/searchCursos.js')

- if (tecnico == 'tecnico')
  script(src='public/js/src/modalEffects.js')

- if (from == 'ensinoPrimario')
  script(src='public/js/src/ensinoPrimario.js')

- if (from == 'primeiroCiclo')
  script(src='public/js/src/primeiroCiclo.js')

- if (from == "specificClass")
  script(src='public/js/turma.js')

- if (from == "students" || from == "ADMIN")
  script(src='public/js/estudantes.js')
  script(src='public/js/NovoEstudantesForm.js')
  script(src='public/js/swiper.min.js')

- if (from == "horario")
  script(src='public/js/horario.js')

- if (from == "NovoEstudents")
  script(src='public/js/NovoEstudantes.js')
  script(src='public/js/NovoEstudantesForm.js')

- if (from == "AlterarEstudante")
  script(src='public/js/editEstudantes.js')
  script(src='public/js/NovoEstudantesForm.js')

- if (from == "excelUpload")
  script(src='public/js/excelUpload.js')

- if (from == "livroPonto")
  script(src='public/js/livroDPonto.js')

script(src='public/js/src/userRegistrationJs.js')

block scripts

if ajax
  script.
    $('#ui-view').ajaxLoad();
    $(document).ajaxComplete(function() {
      Pace.restart()
    });
