.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-item
        a.nav-link(href=ajax ? 'main.html' : '/account')
          i.nav-icon.icon-home
          |  Início
      if !starter
        li.nav-title
          | Serviços

        li.nav-item.nav-dropdown
          a.nav-link(href="/turmas")
            i.nav-icon.icon-layers
            |  Turmas
          ul.nav-dropdown-items.subjectLis
        li.nav-item.nav-dropdown
          a.nav-link(href="#")
            i.nav-icon.icon-calendar
            |  Calendário
        li.nav-item
          a.nav-link(href='charts.html')
            i.nav-icon.icon-people
            |  Inquéritos
        li.nav-item.nav-dropdown
          a.nav-link(href='#')
            i.nav-icon.icon-graph
            |  Relatórios
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='icons/coreui-icons.html')
                i.nav-icon.icon-star
                |  CoreUI Icons
                span.badge.badge-success NEW
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href='#')
            i.nav-icon.icon-bell
            |  Notificações
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='notifications/alerts.html')
                i.nav-icon.icon-speech
                |  Mensagens
        li.nav-item
          a.nav-link(href='widgets.html')
            i.nav-icon.icon-cloud-upload
            |  Offline

  button.sidebar-minimizer.brand-minimizer(type="button")
