.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-item
        a.nav-link(href=ajax ? 'main.html' : '/account')
          i.nav-icon.icon-home
          |  Início
      if !starter
        li.nav-title
          | Serviços
        li.nav-item
          a.nav-link(href="/faltas")
            i.nav-icon.icon-note
            |  Livro de Ponto
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href="#")
            i.nav-icon.icon-puzzle
            |  Disciplinas
          ul.nav-dropdown-items.subjectList
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href="#")
            i.nav-icon.icon-calendar
            |  Calendário
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='buttons/buttons.html')
                i.nav-icon.icon-cursor
                |  Buttons
            li.nav-item
              a.nav-link(href='buttons/button-group.html')
                i.nav-icon.icon-cursor
                |  Buttons Group
            li.nav-item
              a.nav-link(href='buttons/dropdowns.html')
                i.nav-icon.icon-cursor
                |  Dropdowns
            li.nav-item
              a.nav-link(href='buttons/brand-buttons.html')
                i.nav-icon.icon-cursor
                |  Brand Buttons
        li.nav-item
          a.nav-link(href='charts.html')
            i.nav-icon.icon-people
            |  Inquéritos
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href='#')
            i.nav-icon.icon-user
            |  Perfil Professor
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='icons/coreui-icons.html')
                i.nav-icon.icon-star
                |  CoreUI Icons
                span.badge.badge-success NEW
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href='#')
            i.nav-icon.icon-bell
            |  Notificações
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='notifications/alerts.html')
                i.nav-icon.icon-speech
                |  Mensagens
        li.nav-item
          a.nav-link(href='widgets.html')
            i.nav-icon.icon-cloud-upload
            |  Offline

  button.sidebar-minimizer.brand-minimizer(type="button")
