- var static = true
doctype html
include ../partials/banner.pug

html(lang='en')
  head
    base(href=base)
    include ./ExclusiveStyle.pug

    block styles
  body

  .table
    .table-cell
      .modal
        #profile
          .dashes
          label Click para carregar uma fotografia
        .editable
          i.fa.fa-pencil
          form(action='/Estudante', method='POST', role="form")
            input(type='text', placeholder='Primeiro nome', name='firstName', required)
            input(type='text', placeholder='Apelido', name='lastName', required)                                                
            input(type='text', placeholder='Nome da Turma', name='classname', required)
            button.btn.btn-primary.px-4(type='submit') Salvar

        input#mediaFile(type='file')

    include ./scripts.pug
