extends /default.pug

block scripts

  - if (tecnico == 'tecnico')
    script(src='public/js/src/foto_loader.js')
    script(src='public/js/src/classie.js')
    script(src='public/js/src/main.js')
    script(src='public/js/src/bootstrap.bundle.min.js')
    script(src='public/js/src/template.js')



block view
