.upper-theme {
    font-weight: bold;
}

.tema-curso {
    padding-bottom: 10px;
}

.mainRow {
    padding-top: 20px;
}

.well {
    padding: 40px;
    background: rgba(39, 102, 85, .80);
    cursor: pointer;
    transition: 1s;
		height: 160px;
}

.well:hover {
    background: #276552;
}

.course-title {
    font-weight: bold;
    color: #fff;
}

.fa {
    color: #fff;
}

.outer-container {
	padding-top: 10px;
}

.alert-warning h4 {
  color : red;
}

.fa-warning{
  color : orange;
}
