.upper-theme {
    font-weight: bold;
}

.tema-curso {
    padding-bottom: 10px;
}

.mainRow {
    padding-top: 20px;
}

.well {
    padding: 40px;
    background: #276552;
    cursor: pointer;
    transition: 1s;
    height: 160px;
}

.course-title {
    font-weight: bold;
    color: #fff;
    padding: 0px;
}

.fa {
    color: #fff;
}

.course-icon i {
    font-size: 250%;
    padding: 0px;
}

.course-icon  {
    padding: 0px;
}


.fa-exclamation-triangle {
    color: orange;
}

.outer-container {
  padding-top: 20px;
}

.home_button {
    width : 225px;
    height: 43px;
    background: #276552;
    text-align: center;
    border-radius: 3px;
    margin-top: 40px;
}

.home_button:hover {
    box-shadow: 0px 10px 40px rgba(0,0,0,0.3);
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}
.home_button a {
    text-decoration: none;
    -webkit-font-smoothing : antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 800;
    line-height: 43px;
    letter-spacing: 0.1em;
}

/*
  course regisitration modal
*/
.modal-content {
    border-radius: 0%;
    border: none;
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.btn-secondary , .btn-primary {
   background: #276552;
   border: solid 1px #276552;
   transition: 1s;
   border-radius: 0%;
   color : #fff;
}

.btn-secondary:hover , .btn-primary:hover {
   background: #3a866f;
   border: solid 1px #276552;
   color: #fff;
}

.classNameHolder {
    padding: 0px;
    border: none;
}

.modal-title, .classe {
    font-weight: bold;
}

.alert-warning {
  background: #276552;
  border: solid #276552;
  color : #fff;
}

/*
  form para registrar disciplinas
*/
.hidden-form {
  display: none;
}
