/*
    General formation
*/

body::-webkit-scrollbar {
    display: none;
}

.upperCard .text-muted {
    color: #fff !important;
    font-weight: bold;
    font-size: 15px;
}

.upperCard .callout-info {
    border-left-color: #fff;
    border-radius: 0%;
}


.upperCard .callout-danger {
    border-left-color: #fff;
    border-radius: 0%;
}

.middleCard .callout-danger {
    border-left-color: #276552;
    border-radius: 0%;
    color: #276552;
}

.middleCard .callout-info {
    border-left-color: #276552;
    border-radius: 0%;
    color: #276552;
}

.middleCard {
    border-radius: 0%;
}

.alert-warning {
  background: #276552;
  border: solid #276552;
  color : #fff;
  border-radius: 0%;
}

.option-card {
    cursor: pointer;
}

/*ver relatório button*/
.container-contact100-form-btn {
  width: 100%;
}

.contact100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 0px;
  background: #276552;

  border: none;

  box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #348169;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.grade-holder {
  width: 40px;
  border: none;
  text-align: center;
  color: #157e81;
  font-weight: bold;
  border-bottom: 2px solid #157e81;
}
