



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Montserrat-Bold;
  src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/


/*//////////////////////////////////////////////////////////////////
[ utility ]*/



/*///////////////////////////////////////////////////////////////////*/
/*        the style later applied                                    */
/*///////////////////////////////////////////////////////////////////*/
.name-holder {
    text-align : center;
}

.name-holder .col-lg-6 {
    background: #157e81;
    border-radius: 5px 0px 5px 0px;
    padding: 10px;
    margin-bottom: 20px;
}

.name-holder span {
    font-size: 20px;
}


.rank-holder {
    background: #157e81;
    padding: 12px;
}

.rank-holder span {
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
}

.rank-icon-class {
    padding: 12px;
    background: #157e81;
    border-right: solid 4px #ffffff;
    border-radius: 7%;
    text-align: center;
}


.rank-icon-class span {
    color : #ffffff;
    font-size: 25px;
}


.arrow-dirc-icons-1 {
    position:relative;
    left:100px;
    top:39px;
}

.arrow-dirc-icons-2 {
    position:relative;
    left:100px;
    top:39px;
}

.arrow-dirc-icons-3 {
     position:relative;
     left:105px;
     top:39px;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

/*==================================================================
[ Background ]*/
.bg-container-contact100 {
  width: 100%;
  height: 100% ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.bg-container-contact100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -11;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

/*---------------------------------------------*/
.contact100-header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 10px 35px;
}

.contact100-header-logo img {
  max-height: 23px;
}

.btn-show-contact100 {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #846add;
  text-transform: uppercase;
  letter-spacing: 1px;

  display: block;
  min-width: 160px;
  height: 42px;
  background-color: #fff;
  border-radius: 21px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-contact100:hover {
  color: #fff;
  background-color: #846add;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ btn-show external css ]*/


.contact100-btn-show {
  color: #fff;
  font-size: 30px;

  /*position: fixed;*/

  width: 13px;
  height: 13px;
  border-radius: 0%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact100-btn-show::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -2;
  width: 320%;
  height: 320%;
  background-color: #ff4b5a;
  border-radius: 50%;

  top: 40px;
  left: 100px;

  box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-animation: beatbtn 0.9s ease-in-out infinite;
  animation: beatbtn 0.9s ease-in-out infinite;
}

@keyframes beatbtn {
  0% {
    background-color: rgba(255, 75, 90, 1);
    transform-origin: center;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    background-color: rgba(255, 75, 90, 0.8);
    transform-origin: center;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}





/*==================================================================
[ Content container ]*/
.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(48, 196, 12, 0.80);
  position: relative;
  z-index: 10;
}

.wrap-contact100 {
  width: 1220px;
  background: #fff;
  border-radius: 3px;
  position: relative;
}

/*==================================================================
[ Title form ]*/
.contact100-form-title {
  font-family: Arial;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  min-height: 100px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;

  padding: 30px 15px 30px 15px;
}

.contact100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(67,67,67,0.6);
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 55px 48px 55px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 15px
}

.label-input100 {
  font-size: 18px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0;
  left: 2px;
}

.label-input100.rs1 {
  height: 60px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
  padding: 0 25px 0 60px;
}

input.input100 {
  height: 55px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid;
  border-radius: 2px;
  border-color: #276552;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.input100:focus + .focus-input100 + .label-input100 {
  color: #276552;
}



/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 17px;
}

.contact100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: #276552;

  box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #348169;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .contact100-form {
    padding: 40px 15px 48px 15px;
  }

  .input100 {
    padding: 0 25px 0 40px;
  }

  .label-input100 {
    width: 40px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate .focus-input100 {
  box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
}

.alert-validate::before {
  content: "";
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: transparent;
  border: 1px solid #fa4251;
  border-radius: 2px;
  top: -1px;
  left: -1px;
  pointer-events: none;
}

.btn-hide-validate {
  font-family: Material-Design-Iconic-Font;
  font-size: 18px;
  color: #fa4251;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0px;
  right: -25px;
}

.rs1-alert-validate.alert-validate::before {
  background-color: #fff;
}

.true-validate::after {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 18px;
  color: #00ad5f;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0px;
  right: -25px;
}

/*---------------------------------------------*/
@media (max-width: 576px) {
  .btn-hide-validate {
    right: 10px;
  }
  .true-validate::after {
    right: 10px;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Button show / hide ]*/
.btn-hide-contact100 {
  font-size: 30px;
  color: #fff;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: -44px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-hide-contact100:hover {
  opacity: 1;
}

/*Formtação da posição do estudante*/

.number-holder {

    font-weight: 900;
    color: #157e81;

}

.name-hold {
  color : #ffffff;
}



/*//////////////////////////////////////////////////////////////*/
#mediaFile {
  position: absolute;
  top: -1000px;
}

#profile {
  border-radius: 100%;
  width: 130px;
  height: 130px;
  cursor: pointer;
  background: #f4f4f4;
  display: table;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.10);
  margin-bottom: 25px;
   margin-left: 170px;
}

#profile label {

  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: grey;
  opacity: 1;
}

#profile.dragging {
  background-image: none !important;
}

#profile.dragging label {
  opacity: 0.5 !important;
}
#profile.hasImage .dashes, #profile.hasImage label {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


/*
# About Section: Testimonial
--------------------------------*/
.testimonial-section {
    padding: 100px 0px;
}

.testimonial-slider .entry-content p {
    font-size: 26px;
    color: #383749;
}


.testimonial-slider .testimonial-user span {
    font-size: 14px;
    color: #c0c1cd;
    text-transform: initial;
}

.testimonial-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border: 2px solid #08985d;
    background: transparent;
    opacity: 1;
}

.testimonial-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #19c880;
    border: transparent;
}

/*
    # Team members
----------------------------------------------*/
.team-member {
    padding: 10px 40px;
    margin: 5px 0px 20px 0px;
    text-align: center;
    transition: all .35s;
}

.team-member img {
    width: 160px;
    max-width: 100%;
    height: 160px;
    border-radius: 15% 0% 15% 0%;
    border: solid 4px lightgray;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.12);
}

.team-member h3 {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 400;
    color: #383749;
}

.team-member h4 {
    font-size: 16px;
    font-weight: 400;
    color: #c21111;
}
