@import url('https://fonts.googleapis.com/css?family=Bitter:700');

.header-title {
	font-weight : bold;
	color : lightgray;
}

.text-center {
  font-family: 'Bitter', serif;
}

.photo_holder {
	text-align : center;
	padding: 7px;
}

.photo_holder img {
	border-radius : 50%;
}

.name-holder h3 {
	color : black;
  font-size: 40px;
  font-family: 'Bitter', serif;
}

.modal-content {
	border-radius : 0;
	border : none white;
	width : 150%;
	position: relative;
	left : -185px;
}

thead tr th {
    font-weight : bold;
    color : gray;
}

.modal-header {
	border: none;
  opacity: 1;
}

.label-holder {
	color : lightgray;
	text-align : center;
	font-weight : bold;
}

.containers {
	padding-left : 10px;
}

.modal-option-icon i {
  font-size : 20px;
}

.modal-option-icon a:hover {
  style : none;
}

.studentModal .modal-body .container .whole-class .container .row .pic-holder {
	position: relative;
}

.studentModal .modal-body .container .whole-class .container .row .pic-holder img {
	border: solid 4px lightblue;
	display: block;
	width: 100%;
	height: auto;
	margin: 10px;
	cursor: pointer;
	opacity: 1;
	backface-visibility: hidden;
}

.studentModal .modal-body .container .whole-class .container .row .pic-holder img:hover {
	opacity: .3;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.pic-holder:hover .student-pic {
  opacity: .1;
}

.pic-holder:hover .middle {
  opacity: 1;
}

.text {
  color: blue;
  font-size: 25px;
	font-weight: bold;
}

.studentModal .modal-body .container .whole-class .container .row .pic-holder {
	width: 10%;
	height : 10%;
	margin: 10px;
}

/*
  Formatação para Faltas vermelhas
*/

.list__item {
  list-style: none;
}

.list__item:hover label {
  color: #BB4430;
}

.list__item:hover .label::before {
  border: 6px solid #ef5d5d;
}

.radio-btn:checked ~ .label {
  color: #BB4430;
}

.radio-btn:checked ~ .label::before {
  border: 6px solid #ba0b0b;
  background: #fff;
}

.label {
  display: flex;
  align-items: center;
  color: #F8F7FF;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s linear;
}

.label::before {
  display: block;
  content: '';
  border: 6px solid #F8F7FF;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  transition: all .25s linear;
}

/*
  Formatação para Faltas Azús
*/
.list__item_two {
  list-style: none;
}

.list__item_two:hover label {
  color: #BB4430;
}

.list__item_two:hover .label-two::before {
  border: 6px solid #1d84d3;
}

.radio-btn-two {

}
.radio-btn-two:checked ~ .label-two {
  color: #1d84d3;
}
.radio-btn-two:checked ~ .label-two::before {
  border: 6px solid #1d84d3;
  background: #fff;
}

.label-two {
  display: flex;
  align-items: center;
  color: #F8F7FF;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s linear;
}

.label-two::before {
  display: block;
  content: '';
  border: 6px solid #F8F7FF;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  transition: all .25s linear;
}

/*
  Formatação para Faltas amarelas;
*/
.list__item_three {
  list-style: none;
}

.list__item_three:hover label {
  color: #BB4430;
}

.list__item_three:hover .label-three::before {
  border: 6px solid yellow;
}

.radio-btn-three {

}
.radio-btn-three:checked ~ .label-three {
  color: yellow;
}
.radio-btn-three:checked ~ .label-three::before {
  border: 6px solid yellow;
  background: #fff;
}

.label-three {
  display: flex;
  align-items: center;
  color: #F8F7FF;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s linear;
}

.label-three::before {
  display: block;
  content: '';
  border: 6px solid #F8F7FF;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  transition: all .25s linear;
}
